<div id="<%= dom_id booking %>" class="card h-100">
  <div class="card-body" style>
    <h5 class="card-title"><%= booking.location.name %></h5>
    <p class="card-text mb-2">
      <strong>Started at:</strong>
      <%= booking.started_at %>
    </p>
    <p class="card-text mb-2">
      <strong>Ended at:</strong>
      <%= booking.ended_at %>
    </p>

    <p class="card-text mb-0">
      <strong>Guest:</strong>
      <%= booking.guest.first_name %>
    </p>

  </div>
  <% if current_page?(controller: 'bookings', action: 'index') %>
      <div class="card-footer bg-transparent border-top-0">
        <%= link_to "Show This Booking", booking, class: "btn btn-sm btn-primary" %>
      </div>
  <% end %>
</div>
