<div id="<%= dom_id location %>">

  
  <div class="card location-card <%= current_page?(location_path(location)) ? "location-card-show" : "location-card-index" %>">
    <%= link_to location, class: "location-card-media" do %>
      <% if location.image? %>
        <%= image_tag location.image.url, class: "card-img", alt: "Location photo" %>
      <% end %>
      <div class="card-img-overlay location-card-overlay">
        <h5 class="card-title mb-3" style="color: white;"><%= location.name %></h5>
      </div>
    <% end %>

    <ul class="list-group list-group-flush">
      <% if current_page?(location_path(location)) %>
      <li class="list-group-item"><span>City:</span> <%= location.city %></li>
      <li class="list-group-item"><span>State:</span> <%= location.state %></li>
      <li class="list-group-item"><span>Postal Code:</span> <%= location.postal_code %></li>
      <li class="list-group-item"><span>Host:</span> <%= location.host.email %></li>

        <li class="list-group-item"><span>Show page only:</span> <%= location.address %></li>
      
    </ul>
    
    <div class="card-body">
      <p class="card-text"><span>Description:</span><br><%= location.description %></p>
    </div>
      <% end %>

    <%# Card footer removed per request %>
  </div>

</div>
